*~
.*.swp
*.o
*.pyc
s/bowerbird_config.sh
s/binaries-*
s/util/test_data
s/Makefile
s/python/web_interface/static/sonograms/*
miscellaneous_source/usbreset
/field_file_system/GatherUpCode
/s/python/web_interface/Bowerbird UI.geany
/s/python/web_interface/geany_run_script.sh
/s/python/Bowerbird.geany
/s/python/web_interface/static/jquery-1.4.2.min.js
/s/python/web_interface/static/jquery-1.4.2.js
/s/python/web_interface/static/jquery-1.3.2.min.js
