<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/" py:strip="">

<script type="text/javascript" src="/media/jquery.js"></script>
<script type="text/javascript" src="/media/jquery-autocomplete/lib/jquery.bgiframe.min.js"></script>
<script type="text/javascript" src="/media/jquery-autocomplete/lib/jquery.dimensions.js"></script>
<script type="text/javascript" src="/media/jquery-autocomplete/jquery.autocomplete.js"></script>
<link type="text/css" rel="stylesheet" href="/media/jquery-autocomplete/jquery.autocomplete.css" />
</html>
