<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="layout.html" />
  <head>
    <title>Connect</title>
  </head>
  <body>
    <h1>Connect</h1>

	<form method="post">
		<!--h3>Previous Connections</h3>
		Choose from one of the previous connections made:<br/>
		<select>
			<option>Cooper Falls</option>
			<option>Peachester</option>
			<option>Nourlangie Rock</option>
		</select>
		<input type="submit" value="Connect" /-->

		<!--h3>Local Connections</h3>
		Choose from one of the Bowerbird systems detected on the local
		network:<br/>
		<select>
			<option>Peachester</option>
			<option>Peachester North</option>
			<option>Peachester West</option>
		</select>
		<input type="submit" value="Connect" /-->

		<h3>Manual Connection</h3>
		Type in an IP address or domain name to connect to:<br/>
		<input name="manual" type="text" />
		<input type="submit" value="Connect" />
	</form>

  </body>
</html>
