<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/" py:strip="">

    <?python
	from urllib import quote
	?>

  <py:match path="head" once="true">
    <head py:attrs="select('@*')">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <title py:with="title = list(select('title/text()'))">
		  Bowerbird
		  <py:if test="value_of('station')"> [${station}]</py:if>
		  <py:if test="value_of('title')">: ${title}</py:if>
      </title>
      <link rel="stylesheet" href="/media/layout.css" type="text/css" />
	  <script type="text/javascript" src="/media/jquery.js"></script>
      ${select('*[local-name()!="title"]')}
    </head>
  </py:match>

  <py:match path="body" once="true">
  <body py:attrs="select('@*')">
	  <div id="wrap">
        <div id="header">
          <a href="/"><img src="/media/logo.jpg" width="100px"
			  height="50px" alt="sonogram?" /></a>
          <h1 py:with="heading = list(select('h1/text()'))">
			  Bowerbird
			  <py:if test="value_of('station')"> [${station}]</py:if>
			  <py:if test="value_of('heading')">: ${heading}</py:if>
          </h1>
        </div>
	    <div id="menu">
          <xi:include href="menu.html" />
        </div>
        <div id="content">
          ${select('*[local-name()!="h1"]|text()')}
        </div>
        <div id="footer">
		  <p>Copyright &copy; 2010 Andrew Taylor</p>
        </div>
	  </div>
    </body>
  </py:match>
</html>
