<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="layout.html" />
    <?python
	import cherrypy
	from bowerbird.common import formatTimeUI, formatDateUI, DATE_FORMAT_UI
	url = cherrypy.request.path_info
    ?>

    <!--! common export button generation -->
    <py:def function="export_recording_button(recording)">
    <?python
		if recording.fileExists():
	    	mode = 'export'
		elif recording.id in value_of('transfer_queue_ids', []):
		    mode = 'already_retrieving'
		elif (value_of('is_proxy') and
			value_of('station') == recording.station):
		    mode = 'retrieve'
		else:
		    mode = 'disabled_export'
    ?>
    <py:choose test="mode">
	<input py:when="'export'" type="submit" name="export_recording"
	    value="Export" />
	<input py:when="'retrieve'" type="submit" name="retrieve_recording"
	    value="Retrieve" />
	<input py:when="'already_retrieving'" type="submit"
	    value="Retrieving" disabled="disabled" />
	<input py:otherwise="" type="submit" value="Export"
	    disabled="disabled" />
    </py:choose>
    </py:def>
    <py:def function="export_recordings_button(recordings)">
    <?python
	# check if all files are available and whether the missing ones
	# are retrievable
	found_exportable = False
	found_retrievable = False
	found_retrieving = False
	found_unretrievable = False
	for recording in recordings:
		if recording.fileExists():
			found_exportable = True
	    elif recording.id in value_of('transfer_queue_ids', []):
			found_retrieving = True
	    elif recording.station == station:
			found_retrievable = True
	    else:
			found_unretrievable = True
	if found_retrievable:
	    mode = 'retrieve'
	elif found_exportable:
	    if found_unretrievable:
			mode = 'export_available'
	    else:
			mode = 'export'
	elif found_retrieving:
	    mode = 'already_retrieving'
	else:
	    mode = 'disabled_export'
    ?>
    <py:choose test="mode">
	<input py:when="'export'" type="submit" name="export_selection" value="Export Selection" />
	<input py:when="'retrieve'" type="submit" name="retrieve_selection" value="Retrieve Selection" />
	<input py:when="'already_retrieving'" type="submit" value="Retrieving Selection" disabled="disabled" />
	<input py:when="'export_available'" type="submit" name="export_selection" value="Export Available From Selection" />
	<input py:otherwise="" type="submit" value="Export Selection" disabled="disabled" />
    </py:choose>
    </py:def>

  <head>
    <title>Recordings</title>
    <style type="text/css">@import url(/media/jscalendar/calendar-blue.css);</style>
    <script type="text/javascript" src="/media/jscalendar/calendar.js"></script>
    <script type="text/javascript" src="/media/jscalendar/lang/calendar-en.js"></script>
    <script type="text/javascript" src="/media/jscalendar/calendar-setup.js"></script>
  </head>
  <body>
    <h1>Recordings</h1>
    <!--! Display any errors -->
    <div py:if="value_of('errors')" class="error">
	<h2>Errors</h2>
	<ol>
	<li py:for="error in errors">${error}</li>
	</ol>
    </div>

    <!--! display sync buttons -->
    <div py:if="value_of('is_proxy') and value_of('station')">
	<form method="POST" action="${url}">
	<h2>
	    Connected to ${station}
	    <input type="submit" name="sync_with_station"
	      value="Sync Recordings" />
	</h2>
	</form>
    </div>

    <!--! display calendar of recordings -->
    <div>
	<form method="POST" action="${url}">
	<div class="nav_buttons">
	    <input type="submit" name="go_to_start" value="Go To Start"
		disabled="${not filter_start or None}" />
	    <input type="submit" name="go_to_finish" value="Go To Finish"
		disabled="${not filter_finish or None}" />
	    <input type="submit" name="go_to_today" value="Go To Today" />
	</div>
	<div class="filter_buttons">
	    Show:
	    <select py:if="value_of('station_names')" name="filter_station">
	    <py:for each="s_label,s_value in station_names" py:choose="">
		<option value="${s_value}"
		    selected="${(s_value == filter_station) or None}">
		${s_label}
		</option>
	    </py:for>
	    </select>
	    <select py:if="value_of('schedule_titles')" name="filter_title">
	    <py:for each="t_label,t_value in schedule_titles" py:choose="">
		<option value="${t_value}"
		    selected="${(t_value == filter_title) or None}">
		${t_label}
		</option>
	    </py:for>
	    </select>
	    &nbsp; Start:
	    <input class="date" type="text" id="start"
		name="filter_start" value="${filter_start}" />
	    <input type="image" id="start_trigger"
	    src="/media/calendar.png" />
	    &nbsp; Finish:
	    <input class="date" type="text" id="finish"
		name="filter_finish" value="${filter_finish}" />
	    <input type="image" id="finish_trigger"
	    src="/media/calendar.png" />
	    &nbsp;
	    <input type="submit" name="update_filter" value="Update" />
	    <input type="submit" name="reset_filter" value="Reset" />
	</div>
	</form>

	<?python
	    if value_of('selected_recording'):
		default_start = selected_recording.start_time.ctime()
		default_finish = selected_recording.finish_time.ctime()
	    elif value_of('selected_recordings'):
		default_start = selected_recordings[0].start_time.ctime()
		default_finish = selected_recordings[-1].finish_time.ctime()
	    else:
		# TODO set to the 15th of the current month
		default_start = ''
		default_finish = ''
	?>

	<script type="text/javascript">
	  Calendar.setup(
	{
	  inputField  : "start",	 // ID of the input field
	  ifFormat    : "${DATE_FORMAT_UI}",    // the date format
	  button      : "start_trigger",       // ID of the button
	  date	: "${default_start}",
	  timeFormat  : "24",
	  singleClick : true,
	  weekNumbers : false,
	  range       : [1900,2999],
	  step	: 1
	}
	  );
	  Calendar.setup(
	{
	  inputField  : "finish",	 // ID of the input field
	  ifFormat    : "${DATE_FORMAT_UI}",    // the date format
	  button      : "finish_trigger",       // ID of the button
	  date	: "${default_finish}",
	  timeFormat  : "24",
	  singleClick : true,
	  weekNumbers : false,
	  range       : [1900,2999],
	  step	: 1
	}
	  );
	</script>

	${calendar}
    </div>

    <py:choose test="">
    <!--! Display selected recording -->
    <div py:when="value_of('selected_recording')">
	<form method="POST" action="${url}">
	<h2>Selected Recording
	<input class="clear" type="submit"
	    name="clear_recording_id" value="X" />
	<input type="hidden" name="recording_id"
	    value="${selected_recording.id}" />
	<!--! show option to filter by station if station is defined.
	    Station is usually only defined on the proxy. -->
	<input py:if="value_of('is_proxy')" type="submit"
	    name="set_filter_station"
	    value="Show ${selected_recording.station}" />
	<input type="submit" name="set_filter_title"
	    value="Show ${selected_recording.title}" />
	<input type="submit" name="set_filter_start"
	    value="Set Start" />
	<input type="submit" name="set_filter_finish"
	    value="Set Finish" />
	</h2>
	<table class="selected_recordings">
	<tr>
	<th py:if="value_of('is_proxy')" class="selected_recordings">Station</th>
	<th class="selected_recordings">Title</th>
	<th class="selected_recordings">Date</th>
	<th class="selected_recordings">Time</th>
	<th class="selected_recordings">Export</th>
	</tr>
	<tr>
	    <td py:if="value_of('is_proxy')" class="selected_recordings">
	    ${selected_recording.station}</td>
	    <td class="selected_recordings">${selected_recording.title}</td>
	    <td class="selected_recordings">
	    ${formatDateUI(selected_recording.start_date)}</td>
	    <td class="selected_recordings">
	    ${formatTimeUI(selected_recording.start_time, show_seconds=True)} to
	    ${formatTimeUI(selected_recording.finish_time, show_seconds=True)}
	    </td>
	    <td class="selected_recordings">
	    <input id="export_start" class="time" name="export_start_time"
		value="${formatTimeUI(selected_recording.start_time, show_seconds=True)}"
		disabled="${not selected_recording.fileExists() or None}" />
	    to
	    <input id="export_finish" class="time" name="export_finish_time"
		value="${formatTimeUI(selected_recording.finish_time, show_seconds=True)}"
		disabled="${not selected_recording.fileExists() or None}" />
	    ${export_recording_button(selected_recording)}
	    </td>
	</tr>
	</table>
	</form>
    </div>

    <!--! Display recordings for a selected date (or date range) -->
    <div py:when="value_of('selected_recordings')">
	<?python
	    if value_of('selected_date'):
		heading = ('Recordings for %s'
			% selected_date.strftime("%d %B %Y"))
		clear_button_name = 'clear_selected_date'
	    else:
		heading = 'Selected Recordings'
		clear_button_name = 'reset_filter'
	?>
	<form method="POST" action="${url}">
	<h2>${heading}
	<input class="clear" type="submit"
	    name="${clear_button_name}" value="X" />
	<py:if test="value_of('selected_date')">
	<input type="submit" name="set_filter_start"
	    value="Set Start" />
	<input type="submit" name="set_filter_finish"
	    value="Set Finish" />
	</py:if>
	${export_recordings_button(selected_recordings)}
	</h2>
	</form>
	<table class="selected_recordings">
	<tr>
	<th py:if="value_of('is_proxy')" class="selected_recordings">
	    Station</th>
	<th class="selected_recordings">Title</th>
	<th py:if="not value_of('selected_date')"
	    class="selected_recordings">Date</th>
	<th class="selected_recordings">Time</th>
	<th class="selected_recordings">Actions</th>
	<th class="selected_recordings">Update Filter</th>
	</tr>
	<tr py:for="rec in selected_recordings">
	    <form method="POST" action="${url}">
	    <input type="hidden" name="recording_id" value="${rec.id}" />
	    <td py:if="value_of('is_proxy')" class="selected_recordings">
	    ${rec.station}</td>
	    <td class="selected_recordings">${rec.title}</td>
	    <td py:if="not value_of('selected_date')"
	    class="selected_recordings">${rec.start_date}</td>
	    <td class="selected_recordings">
	    ${formatTimeUI(rec.start_time, compact=True)} to
	    ${formatTimeUI(rec.finish_time, compact=True)}
	    </td>
	    <td class="selected_recordings">
	    <input type="submit" name="set_recording_id"
		value="Select" />
	    ${export_recording_button(rec)}
	    </td>
	    <td class="selected_recordings">
	    <input type="submit" name="set_filter_title"
		value="Show ${rec.title}" />
	    <py:if test="not value_of('selected_date')">
	    <input type="submit" name="set_filter_start"
		value="Set Start" />
	    <input type="submit" name="set_filter_finish"
		value="Set Finish" />
	    </py:if>
	    </td>
	    </form>
	</tr>
	</table>
    </div>
    </py:choose>

    <p>
	<form method="post">
	<input type="submit" name="delete_cache" value="Delete Cache" />
	</form>
    </p>
  </body>
</html>
