<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="layout.html" />
  <head>
    <title>Recordings</title>
  </head>
  <body>
    <h1>Recordings</h1>

	<!--! Display selected recording -->
	<div py:if="value_of('selected_recording')">
	    <h2>Selected Recording
		<a class="clear" href="?set_recording_id=1">[Clear]</a>
	    </h2>
	    <?python from lib.common import compactTimeFormat ?>
	    <table class="selected_recordings">
		<tr>
		<th class="selected_recordings">Title</th>
		<th class="selected_recordings">Date</th>
		<th class="selected_recordings">Time</th>
		<th class="selected_recordings">Actions</th>
		</tr>
		<tr>
		    <td class="selected_recordings">${selected_recording.title}</td>
		    <td class="selected_recordings">
			${selected_recording.start_date.strftime("%d/%m/%y")}</td>
		    <td class="selected_recordings">
			${compactTimeFormat(selected_recording.start_time)} to
			${compactTimeFormat(selected_recording.finish_time)}
		    </td>
		    <td class="selected_recordings">
			<form method="POST" action="?">
			    <input type="hidden" name="filter"
				    value="${selected_recording.title}" />
			    <input type="submit" name="update_filter"
				    value="Show Only ${selected_recording.title}" />
			    <input type="hidden" name="recording_id"
				    value="${selected_recording.id}" />
			    <input type="submit" name="export_recording"
				    value="Export" />
			</form>
		    </td>
		</tr>
	    </table>
	    <hr />
	</div>

	<!--! Display recordings for a selected date -->
	<div py:if="value_of('selected_recordings')">
	    <h2>Recordings for
		${selected_recordings[0].start_date.strftime("%d %B %Y")}
		<a class="clear" href="?clear_selected_date=1">[Clear]</a>
	    </h2>
	    <?python from lib.common import compactTimeFormat ?>
	    <table class="selected_recordings">
		<tr>
		<th class="selected_recordings">Title</th>
		<th class="selected_recordings">Time</th>
		<th class="selected_recordings">Actions</th>
		</tr>
		<tr py:for="rec in selected_recordings">
		    <td class="selected_recordings">${rec.title}</td>
		    <td class="selected_recordings">
			${compactTimeFormat(rec.start_time)} to
			${compactTimeFormat(rec.finish_time)}
		    </td>
		    <td class="selected_recordings">
			<form method="POST" action="?">
			    <input type="hidden" name="recording_id"
				    value="${rec.id}" />
			    <input type="submit" name="set_recording_id"
				    value="Select" />
			    <input type="hidden" name="filter"
				    value="${rec.title}" />
			    <input type="submit" name="update_filter"
				    value="Show Only ${rec.title}" />
			</form>
		    </td>
		</tr>
	    </table>
	    <hr />
	</div>

	<!--! display calendar of recordings -->
	<div>
	    <div class="nav_buttons">
		<form method="POST" action="?">
		    <input type="submit" name="go_to_today" value="Go To Today" />
		    &nbsp;
		    Show only:
		    <select py:if="value_of('schedule_titles')" name="filter">
			<py:for each="title in schedule_titles" py:choose="">
			    <option py:when="title == filter"
				    selected="1">${title}</option>
			    <option py:otherwise="">${title}</option>
			</py:for>
		    </select>
		    <input type="submit" name="update_filter" value="Update" />
		</form>
	    </div>
	    ${calendar}
	</div>
	<p>
	    <form method="post">
		<input type="submit" name="rescan_disk" value="Rescan Disk" />
	    </form>
	</p>
  </body>
</html>
