body {
	background-color:#7a7bff;
}

a {
	text-decoration:none
}

#wrap {
	background-color:aqua;
	margin: 0px;
	border:thick ridge  blue;
	padding: 0px;
	width: 90%;
	min-width: 400px;
	position: absolute;
	left: 5%
}

#header h1 {
	display: inline;
}

#header {
	clear: left;
	margin: 0px;
	padding: 0.5em;
	/*background-color:#c3dfff; /* delete once position sorted */
	border-bottom: thick ridge blue;
}

#menu {
	float: left;
	clear: left;
	margin:0px;
	padding-right: 1em;
	width: 120px;
}

#content {
	margin-left: 130px;
	padding: 10px;
	border-left: thick ridge blue;
	min-height: 100px;
	background-color: white;
}

#footer {
	background-color:#c3dfff; /* delete once position sorted */
	text-align: right;
	clear: left;
	margin: 0px;
	border-top: thick ridge blue;
	padding-right: 1.5em;
	padding-bottom: 0.01px
}

input.sonogram[type="text"] {
	width: 3em;
	text-align: right
}

a.config_title {
	font:x-large bold sans-serif;
}

span.config_note {
	margin-left:15px;
	display:none
}


table.config {
	margin:auto;
	width: 90%;
	empty-cells: hide
}

/*td.config_header { width: 20% }
td.config_subheader { width: 15% }*/
td.config { 
	width: 55%;
}

table.config, td.config_header, td.config_subheader, td.config {
	border: 1px solid blue;
	border-spacing: 0px;
	background-color:#dce1ff
}

input.config {
	text-align: right;
	width: 80%;
	margin-right:5pt;
	border-style: none;
	background-color:#efefff
}

input.config_no_units {
	text-align: right;
	width: 100%;
	margin-right:5pt;
	border-style: none;
	background-color:#efefff
}


table.schedule {
	margin:auto;
	width: 90%;
	empty-cells: hide;
	text-align: center
}

td.schedule_desc { width: 40% }
td.schedule_time { width: 20% }
td.schedule_error { 
	color: black;
	background-color:red
}

table.schedule, th.schedule {
	background-color:#dce1ff
}

.schedule {
	background-color:#efefff;
	border:1px solid blue;
	border-spacing: 0px
}

td.schedule_add, td.schedule_remove {
	border:1px solid blue;
	border-spacing: 0px;
	text-align: left
}

input.schedule_desc, input.schedule_time {
	width: 100%;
	border-style: none
}

input.schedule_time {
	text-align: center
}

input.schedule_add, input.schedule_remove {
	margin:0% 10% 0% 10% 
}


input[type=submit] {
	border-style: groove
}


table.categories, table.calls {
	border-collapse: separate;
	border-width: 3px;
	border-color:#bac2fd;
	text-align: center;
	background-color:#b6dcff
}

table.call th {
	text-align: right
}

table.categories, table.calls, table.call td {
	text-align: center;
	padding: 3px
}

table.call_navigation {
	height: 5.30em
}

table.call_navigation td {
	text-align: center
}

input.call_navigation {
	width: 180px
}

.preview_explanation {
	font-size: x-large;
	color: navy
}

.error {
	color: black;
	background-color: red
}

table.month {
	background-color: #b6dcff;
	padding: 3px
}

th.month {
	background-color: #565cff;
	padding:1px 5px 1px 5px
}

th.sun, th.mon, th.tue, th.wed, th.thu, th.fri, th.sat {
	background-color:#2c92ff;
	width: 30pt;
	text-align: center
}

td.sun, td.mon, td.tue, td.wed, td.thu, td.fri, td.sat {
	text-align: center
}
