<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/" py:strip="">

<script src="/media/jquery.js" />
<link rel="stylesheet"
	href="/media/jquery-autocomplete/jquery.autocomplete.css" 
	type="text/css" />
<script type="text/javascript"
	src="/media/jquery-autocomplete/lib/jquery.bgiframe.min.js" />
<script type="text/javascript"
	src="/media/jquery-autocomplete/lib/jquery.dimensions.js" />
<script type="text/javascript"
	src="/media/jquery-autocomplete/jquery.autocomplete.js" />

</html>
